:root {
    /* Dark colors */
    --accent: #247B7B;
    --darkaccent: #114343;

    /* Dark colors */
    --surface: #243553;

    --softdark: #516273;

    --dark: #0f1828;
    --dark10p: #E0E2E5;

    /* Dark colors */
    --light: #f6f6f6;

    /* Dark colors */
    --shadow: #D6D8DD;


    --error: #FF3A41;
}

::selection {
    background: var(--accent);
    color: var(--light);
}

@font-face {
    font-family: graphik;
    src: url(../fonts/Graphik-Regular.otf);
}

@font-face {
    font-family: graphikbold;
    src: url(../fonts/Graphik-Bold.otf);
}

@font-face {
    font-family: graphiksemibold;
    src: url(../fonts/Graphik-Semibold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'graphik';
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span {
    font-family: 'graphikbold'
}

h1 {
    color: var(--dark);
    font-size: 32px;
    line-height: 40px;
    text-align: left;
    width: 310px;
    margin-top: 150px;
}

h2 {
    font-size: 24px;
    color: var(--dark);
}

h3 {
    font-size: 20px;
}

h1 span {
    font-size: 1em;
    color: var(--accent);
}

p,
span {
    font-size: 16px;
    line-height: 24px;
    color: var(--softdark);
}

a {
    color: var(--accent);
}

body {
    background: var(--light);
    overflow-x: hidden;
    overflow-y: scroll;
}

section {
    width: 100%;
    min-height: 100vh;
    display: none;
    transition: .2s;
    z-index: 1;
}

.active-section {
    display: block;
    z-index: 2;
}

#header-logo {
    width: 170px;
    position: fixed;
    transform: translate(-50%);
    top: 50px;
    left: 50%;
    opacity: 0;
    transition: .2s;
    z-index: 3;
}

.invisible {
    display: none;
}

.fadeout {
    opacity: 0 !important;
}

.fadein {
    opacity: 1 !important;
}





/* Navigation Styling */

#navigation {
    height: 75px;
    width: 100%;
    background: #FFF;
    position: fixed;
    bottom: 0;
    z-index: 3;
}

.nav-link {
    width: 25%;
    position: relative;
    height: 100%;
    float: left;
}

.nav-link img {
    width: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}








/* Input Styling */

input.default {
    border: 0;
    display: block;
    box-shadow: 0 3px 6px var(--shadow);
    width: 290px;
    padding: 15px 10px;
    border-radius: 10px;
    border-bottom:  4px solid var(--dark);
}

input:active,
input:focus {
    outline: 0;
}

.searchbar {
    position: relative;
    top: 150px;
    margin: 0 auto;
}

.searchbar-overlay {
    width: 46px;
    height: 48px;
    position: absolute;
    top: 150px;
    right: 0;
    transform: translateX(-50%);
}

.searchbar-overlay img {
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 15px;
}






/* Button Styling */

button {
    font-family: "graphiksemibold";
    width: 310px;
    background: var(--dark);
    font-size: 16px;
    color: var(--light);
    border: 0;
    padding: 18px 0;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .1s;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:hover {
    opacity: .9;
}

button:active {
    opacity: 1;
}

.buttom-button {
    position: fixed;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
    z-index: 3;
}









/* Card styling */

.card {
    width: 340px;
    max-width: 350px;
    padding: 15px;
    box-shadow: 0 3px 6px var(--shadow);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 25px;
    background: #FFF;
}

.card-img {
    height: 125px;
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: -15px 0 0 -15px;
}

.card-img img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    top: 50%;
}

.card h3 {
    margin-top: 10px;
}

.card-stars {
    height: 15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-stars .star {
    width: 15px;
    margin-right: 5px;
    float: left;
}

.card-stars span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.card-distance {
    position: relative;
    margin-bottom: 10px;
}

.card-distance img {
    width: 25px;
}

.card-distance span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5px;
}


.card-prices {
    position: relative;
}

.card-prices div {
    width: 100%;
    height: 25px;
}

.card-prices span {
    color: var(--dark);
    float: left;
    font-family: "graphiksemibold";
}

.card-prices span.price {
    float: right;
}

.card button {
    width: 100%;
    margin-top: 20px;
}



.card.servicelist {
    padding-bottom: 0;
}

.service-item {
    height: 80px;
    width: calc(100% + 30px);
    position: relative;
    margin: 0 -15px;
    display: block;
    border-top: 1px solid var(--dark10p);
    cursor: pointer;
}

.service-item:first-of-type {
    margin-top: -15px;
    border: 0;
}

.service-item input {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}


:checked .service-item {
    background: red;
}

.service-item span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 40px;
    font-size: 14px;
    font-family: "graphiksemibold"
}

.service-item span.price {
    right: 15px;
    left: inherit;
    font-family: "graphik"
}








/* Load In Styling */

#load-in {
    height: 100vh;
    opacity: 1;
}

#load-in img {
    position: absolute;
    width: 200px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}







/* Login Styling */

#login {
    opacity: 0;
}

#login input:first-of-type {
    margin-bottom: 15px;
}

#login .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login .card h3 {
    margin-bottom: 5px;
}

#login .card button {
    margin-bottom: 10px;
}

#login .card a {}













/* Home Screen Styling */

#home-screen .card {
    height: 200px;
    width: 340px;
    margin: 0 auto 25px;
}

#home-screen .card:first-of-type {
    margin-top: 250px;
}

#home-screen .card h3 {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

#home-screen .card .arrow {
    height: 16px;
    position: absolute;
    bottom: 18px;
    right: 15px;
    transform: translateX(-100%)
}

#home-screen .card .background-image {
    margin: -15px -15px;
    width: calc(100% + 30px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: .7;
}

* {
  padding: 0px;
  margin: 0px;
}
.page-wrapper {
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
}
.frontpage-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.front-page-card {
  margin-top: 40px;
  width: 300px;
  height: 190px;
  background-color: #f6f66f6;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  position: relative;
}

.card-number {
  height: 200px;
  width: 100%;
}
.icon-holder  {
  position: absolute;
  top: 25px;
  left: 200px;
  height: 70px;
  width: 70px;
  border-radius: 14px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  display: flex;
  justify-content: center;
  align-items: center;

}

.icon-holder-icon {
  width: 40px;
  height: 40px;
}

img.circle-1 {
  position: absolute;
  top: 0px;

}
.circle-1 {
  border-radius: 40px;
}
.frontpage-card-footer {
  position: absolute;
  top: 120px;
  left: 20px;
  height: 100px;
  width: 100%;
  display: flex;

}
.right-card-arrow {
  position: absolute;
  left: 80%;
  top: 20%;
  width: 10px;
  height: 16px;
}

.h4-card {
  position: absolute;
  top: 20%;
}
.plus-icon {
  position: absolute;
  top: 10%;
  left: 17%;
  font-size: 20px;
  color: #fff;
}
.upperleft-number {
  position: absolute;
  top: 12%;
  left: 10%;
  font-size: 40px;
  color: #fff;
}
#home-screen h1, #login h1, #giftcards h1 {
    margin-left: 30px;
}






/* Search styling */

#search-results {
    width: 340px;
    margin: 0 auto;
}

#search-results .card:first-of-type {
    margin-top: 200px;
}











/* Customer styling */


.customer-hero {
    height: 250px;
    width: 100%;
    background-image: url(../img/hairdresser-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.customer-card-wrapper {
    margin: 0 auto;
    width: 340px;
    margin-top: 25px;
}

.customer h3 {
    margin-bottom: 10px;
    margin-left: 5px;
}

.customer h2,
.customer .card-stars {
    margin-left: 20px;

}

.customer h2 {
    margin-top: 15px;
}







/* Calendar Styling */

#myCalendar {
    width: 340px;
    border-radius: 10px;
    margin-top: 15px;
}



.vanilla-calendar-week {
    background: var(--dark) !important;
}

.vanilla-calendar .vanilla-calendar-date--selected {
    background-color: var(--accent) !important;
    border-radius: 10px;
}

.vanilla-calendar .vanilla-calendar-date--selected span {
    color: var(--light) !important;
}












/* Timeselect Styling */

#time-select .arrow {
    height: 16px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
}












#order-confirmed,
#order-receipt {
    background-color: var(--dark);
    background-image: url(../img/logo-s.png);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: 120% 50%;
}

.confirmed-order-container {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 40%;
    transition: .2s;
}

.order-confirmed-animation {
    position: relative;
}

#order-confirmed h1 {
    position: absolute;
    top: 80%;
    color: var(--accent);
    text-align: center;
}

#order-confirmed h1 span {
    color: var(--light);
}












/* Order Receipt */


.reciept-button-container {
    width: 320px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

.reciept-button {
    height: 64px;
    width: 64px;
    background: var(--surface);
    border-radius: 10px;
    position: relative;
}

.reciept-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.reciept-button.cancel {
    background: var(--error);
}


.customer-name {
    margin: 0 30px 25px;
    padding-top: 150px;
}

.customer-name h3  {
    margin-bottom: 0;
}

.customer-name p, .customer-name h3 {
    color: var(--light);
}

.bekraeftet-icon {
    width: 130px;
    margin-bottom: 25px;
}


.receipt-container {
    width: 101%;
    background-color: #f0f0f0;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 25px;
    left: 50%;
}

.receipt-container-zickzag {
    height: 312px;
    width: 340px;
}

.receipt-header {
    padding-top: 30px;
    padding-left: 30px;
    font-size: 18px;
    color: #0F1828;
}

.reciept-date {
    margin-left: 30px;
    margin-top: 5px;
}

.receipt-main-content-header {
    width: 100%;
    display: flex;
    font-size: 14px;
    color: #BFBFBF;
    margin-bottom: 35px;
}

.receipt-main-content-header h4 {
    position: absolute;
    margin-top: 10px;
}

.receipt-main-content-header h4:first-of-type {
    left: 30px;
}

.receipt-main-content-header h4:last-of-type {
    right: 30px;
}

.receipt-row {
    height: 30px;
}

.receipt-row p {
    position: absolute;
}

.receipt-row p:first-of-type {
    left: 30px;
    text-transform: capitalize;
}

.receipt-row p:last-of-type {
    right: 30px;
}

.main-content-p2 {
    position: absolute;
    left: 35px;
}

.main-content-p3 {
    position: absolute;
    left: 200px;
}

.main-content-p4 {
    position: absolute;
    right: 40px;
}

.receipt-footer {
    position: relative;
    width: 100%;
    height: 60px;
    border-top: 1px solid var(--dark10p);
}

.receipt-footer h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    font-size: 16px;
}

#receipt-footer-price {
    left: inherit !important;
    right: 30px;
    width: 50%;
    text-align: right;
}

#receipt-footer-price {
    left: 260px;
}

.zickzag {
    position: absolute;
    width: 110%;
    bottom: -19px;
    left: -9px;
}













/* Profile Styling */
.edit-profile-container {
 height: 100vh;
 width: 100%;

}
.header-profile-container {
  width: 100%;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:  100px;
}

img.profile-circle {
  position: relative;
  width: 170px;
  height: 170px;
}

.profile-pic-text {
  position: absolute;
  font-size: 60px;
  color: #fff;
}
.profile-name {
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
}
.upload-profile-pic {
display: flex;
justify-content: center;
  margin-bottom: 25px;
}

.profile-menu-1 {
  width: 100%;
  height: 60px;
  display: flex;
  position: relative;
  background-color:
}
.aftaler {
  position: absolute;
  left: 26px;
  top: 15px;
  height: 29px;
  width: 29px;
}
.menu-text {
  position: absolute;
  top: 18px;
  left: 75px;
  font-size: 20px;
  font-weight: bold;
}
.menu-right-arrow {
  position: absolute;
  right: 26px;
  top: 13px;
  width: 30px;
  height: 33px;
}
.line-under-menu {
  height: 1px;
  border: 0px;
  background-color: #BCBFC3
}
.menu-profile-container {
  height: 200px;
}








/* Signup Country */
.signup {
    padding-left: 30px;
}

.signup input:first-of-type, #signup-verification input {
    margin-top: 15px;
}

.signup input {
    margin-bottom: 15px;
}

.signup p {
    margin-top: 15px;
}

#signup-done p {
    max-width: 310px;
    margin-bottom: 15px;
}

#signup-done img {
    width: 200px;
    position: relative;
    margin-left: calc(50% - 30px);
    transform: translateX(-50%);
    margin-top: 150px;
    margin-bottom: -120px;
}






/* Signup Verification */

input.verification {
    height: 35px;
    width: 35px;
    border-radius: 20px;
    text-align: center;
    background: #A5A5A5;
    border: 0;
    z-index: 2;
    box-sizing: border-box;
}

.verification-container {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(calc(-50% - 30px));
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.filled-input {
    background: var(--dark) !important;
    color: var(--light);
    border: 5px solid var(--surface) !important;
}

#verification-process {
    height: 28px;
    width: 0px;
    background: var(--dark);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    transition: .2s;
    z-index: 1;
}






/* Mine aftaler styling */
.pagewrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#my-appointments h1 {
    margin-bottom: 30px;
}


.card-mineaftaler {
  height: 440px;
    width: 340px;
    max-width: 350px;
    padding: 15px;
    box-shadow: 0 3px 6px var(--shadow);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 25px;
    background: #F6F6f6;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.card-img-mineaftaler {
    height: 125px;
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: -15px 0 0 -15px;
}

.card-img-mineaftaler img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    top: 50%;
}

.card-mineaftaler h3 {
    margin-top: 10px;
}

.card-stars-mineaftaler {
    height: 15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-stars-mineaftaler .star {
    width: 15px;
    margin-right: 5px;
    float: left;
}

.card-stars-mineaftaler span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.card-distance-mineaftaler {
    position: relative;
    margin-bottom: 10px;
}

.card-distance-mineaftaler img {
    width: 25px;
}

.card-distance-mineaftaler span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5px;
}


.card-prices-mineaftaler {
    position: relative;
}

.card-prices-mineaftaler div {
    width: 100%;
    height: 25px;
}

.card-prices span {
    color: var(--dark);
    float: left;
    font-family: "graphiksemibold";
}

.card-prices span.price {
    float: right;
}

.card-mineaftaler button {
    width: 100%;
    margin-top: 20px;
    padding: 0;
}
.ændre-tid {
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  color: #247B7B;

}

.afbestil-tid {
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  color: #A21C2E;
}

.card.servicelist {
    padding-bottom: 0;
}
.price-mineaftaler {
  position: absolute;
  right: 20px;
}









/* Gavekort styling */
#giftcards h1 {
    margin-bottom: 30px;
}
.card-minegavekort {
    height: 450px;
    width: 340px;
    max-width: 350px;
    padding: 15px;
    box-shadow: 0 3px 6px var(--shadow);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin-bottom: 25px;
    background: #F6F6f6;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
}

.card-img-minegavekort {
    height: 125px;
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: -15px 0 0 -15px;
}

.card-img-minegavekort img {
    position: absolute;
    transform: translate(-55%, -50%);
    width: 100%;
    left: 50%;
    top: 50%;
}

.card-minegavekort h3 {
    margin-top: 25px;
    margin-bottom: 30px;
}
.card-minegavekort h4 {
    margin-bottom: 10px;
}

.card-stars-minegavekort {
    height: 15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-stars-minegavekort .star {
    width: 15px;
    margin-right: 5px;
    float: left;
}

.card-stars-minegavekort span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.card-distance-minegavekort {
    position: relative;
    margin-bottom: 10px;
}

.card-distance-minegavekort img {
    width: 25px;
}

.card-distance-minegavekort span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5px;
}


.card-prices-minegavekort {
    position: relative;
    margin-top: 30px;
}

.card-prices-minegavekort div {
    width: 100%;
    height: 25px;
}

.card-prices span {
    color: var(--dark);
    float: left;
    font-family: "graphiksemibold";
}

.card-prices span.price {
    float: right;
}
.giftcard-saldo {

}
.card-minegavekort button {
    width: 70%;
    margin-bottom: 10px;
    padding: 0;
}
.ændre-tid {
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  color: #247B7B;

}

.afbestil-tid {
  height: 40px;
  border-radius: 10px;
  border: 0;
  background-color: #F6F6F6;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  font-weight: bold;
  colo3r: #A21C2E;
}

.card.servicelist {
    padding-bottom: 0;
}
.price-minegavekort {
  position: absolute;
  right: 52px;
}
.text-minegavekort {
  position: absolute;
  left: 52px;
}
.giftcard-h3 {
  display: flex;
  justify-content: center;
  width: 75%;

}
.giftcard-h4 {
  display: flex;
  justify-content: center;
  width: 64%;



}
.giftcard-saldo2 {
 width: 100%;
 display: flex;
 justify-content: center;
 margin-top: 20px;
}
.giftcard-saldo {
  background-color: #0D1523;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 0;
  color: #f6f6f6;
  font-size: 16px;
  font-weight: 32px;

}
.hr-gavekort {
  height: 2px;
  width: 200px;
}
.barcode-gavekort {
  position: absolute;
  width: 100%;
  height: 35px;
}









/* Mine point */
.flueben{
float: right;
width: 65px;
height:65px;
margin-bottom: 10%;
margin-right: 5%;
}

.title {
  color: grey;
  font-size: 18px;
}

#my-points .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width; 100%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  font-family: arial;
  border-radius: 25px;
  border: 2px solid #black;
  padding: 5%;

}











/*----------------------- Cards til alt muligt ---------------------------------------*/

.center{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.property-card{
  height:18em;
  width:14em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}

.property-image {
  height:6em;
  width:14em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('hair.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}


.property-description{
  background-color: #FAFAFC;
  height:12em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}






/* Points styling */
.point-box-container-center {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
.point-box-container {
  width: 320px;
  height: 185px;
  background-color: #247B7B;
  border-radius: 40px;
  position: relative;
}

.level {
    position: absolute;
    top: 20%;
    left: 13%;
    font-size: 16px;
}

.dine-point {
    position: absolute;
    bottom: 55%;
    left: 13%;
    font-size: 22px;
}
.hr-line1 {
    position: absolute;
    width: 40px;
    background-color: #1B6060;
    border-radius: 3px;
    border: 0;
    height: 4px;
    transform: translate(-20px, 0) rotate(90deg);
    top: 31%;
    left: 10%;
  }
.coin {

    position: absolute;
    top: 32%;
    right: 25%;
    display: flex;
    flex-direction: row;
}
.next-offer {
    position: absolute;
    bottom: 27%;
    left: 13%;
}
.point {
  position: absolute;
  bottom: 54%;
  left: 80%;
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.progress {
  position: absolute;
  bottom: 15%;
  left: 13%;
}
.booking-card-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card-booking-2 {
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 2%;
  margin-left: 10px;
  text-align: left;
  font-family: arial;
  border-radius: 25px;
  border: 2px solid #black;
  padding: 20px;
  position: relative;
}

.title-booking-1 {
  color: grey;
  font-size: 18px;
}
.title-booking-2 {
  color: grey;
  font-size: 18px;
  position: absolute;

}
.title-booking-3 {
  color: grey;
  font-size: 18px;
  position: absolute;
  top: 45%;
  margin-bottom: 30px;
}

.booking-card-container {
  display: flex;
  justify-content: center;
}

.booking-overskrift-rød{
color:#FF5A5A;
text-align: right;
font-size: 14px;
}
.kryds-1 {
  position: absolute;
  top: 20px;
  left: 8%;
}

.booking-overskrift{
color:#4CA64C;
text-align: right;
font-size: 14px;
}

.flueben-1 {
  position: absolute;
  top: 15%;
  left: 2%;
  width: 20%;
  height: 20%;
}
