:root {
    /* Dark colors */
    --accent: #247B7B;
    --darkaccent: #114343;

    /* Dark colors */
    --surface: #243553;

    --softdark: #516273;

    --dark: #0f1828;
    --dark10p: #E0E2E5;

    /* Dark colors */
    --light: #f6f6f6;

    /* Dark colors */
    --shadow: #D6D8DD;
}

::selection {
    background: var(--accent);
    color: var(--light);
}

@font-face {
    font-family: graphik;
    src: url(../fonts/Graphik-Regular.otf);
}

@font-face {
    font-family: graphikbold;
    src: url(../fonts/Graphik-Bold.otf);
}

@font-face {
    font-family: graphiksemibold;
    src: url(../fonts/Graphik-Semibold.otf);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'graphik';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'graphikbold'
}

h1 {
    color: var(--dark);
    font-size: 32px;
}

h2 {
    font-size: 24px;
    color: var(--dark);
}

p,
span {
    font-size: 16px;
    line-height: 24px;
    color: var(--softdark);
}

body {
    background: var(--light);
}

section {
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: none;
}

.active-section {
    display: block;
}

#header-logo {
    width: 170px;
    position: fixed;
    transform: translate(-50%);
    top: 50px;
    left: 50%;
}






/* Input Styling */

input {
    border: 0;
    display: block;
    box-shadow: 0 3px 6px var(--shadow);
    width: 280px;
    padding: 15px 10px;
    border-radius: 10px;
}






/* Button Styling */

button {
    font-family: "graphiksemibold";
    width: 300px;
    background: var(--dark);
    font-size: 16px;
    color: var(--light);
    border: 0;
    padding: 18px 0;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .1s;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:hover {
    opacity: .9;
}

button:active {
    opacity: 1;
}

.buttom-button {
    position: absolute;
    left: 50%;
    bottom: 90px;
    transform: translateX(-50%);
}









/* Card styling */

.card {
    width: 340px;
    max-width: 350px;
    padding: 15px;
    box-shadow: 0 3px 6px var(--shadow);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.card-img {
    height: 125px;
    width: 400px;
    position: relative;
    overflow: hidden;
    margin: -15px 0 0 -15px;
}

.card-img img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    top: 50%;
}

.card h2 {
    margin-top: 10px;
}

.card-stars {
    height: 15px;
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-stars .star {
    width: 15px;
    margin-right: 5px;
    float: left;
}

.card-stars span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.card-distance {
    position: relative;
    margin-bottom: 10px;
}

.card-distance img {
    width: 25px;
}

.card-distance span {
    float: left;
    font-family: "graphikbold";
    color: var(--dark);
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    margin-left: 5px;
}


.card-prices {
    position: relative;
}

.card-prices div {
    width: 100%;
    height: 25px;
}

.card-prices span {
    color: var(--dark);
    float: left;
    font-family: "graphiksemibold";
}

.card-prices span.price {
    float: right;
}

.card button {
    width: 100%;
    margin-top: 20px;
}



.card.servicelist {
    padding-bottom: 0;
}

.service-item {
    height: 80px;
    width: calc(100% + 30px);
    position: relative;
    margin: 0 -15px;
    display: block;
    border-top: 1px solid var(--dark10p);
    cursor: pointer;
}

.service-item:first-of-type {
    margin-top: -15px;
    border: 0;
}

.service-item input {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}


:checked .service-item {
    background: red;
}

.service-item span {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 40px;
    font-size: 14px;
    font-family: "graphiksemibold"
}

.service-item span.price {
    right: 15px;
    left: inherit;
    font-family: "graphik"
}








/* Load In Styling */

#load-in {
    height: 100vh;
}

#load-in img {
    position: absolute;
    width: 200px;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}







/* Login Styling */

#login input {
    
}







/* Home Screen Styling */

#home-screen {
    background: var(--dark);
}