:root {
    --accent: #318ffc;
    --dark: #080808;
    --light: #e8e8e8;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: var(--dark);
}








/* Navigation styling */
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}




/* Main container styling */

.main {
  margin-left: 210px; /* Same as the width of the sidenav + 50px margin */
    margin-top: 50px;
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}

.section-title {
    margin-top: 50px;
    margin-bottom: 25px;
    color: var(--accent);
}








/* Color Styling */

.colorbox {
    height: 200px;
    width: 200px;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    display: inline-block;
    margin-right: 25px;
}   

.colorbox.accent {
    background: var(--accent);
}

.colorbox.light {
    background: var(--light);
}

.colorbox.dark {
    background: var(--dark);
}

.colorname {
    height: 75px;
    background: #FFFFFF;
    position: relative;
    top: 125px;
    box-sizing: border-box;
    padding: 5px 5px 5px 10px;
}

.colorname h4 {
    font-size: 20px;
    margin-bottom: 2px;
}

.colorname p {
    font-size: 15px;
    text-transform: uppercase;
    line-height: normal;
}





/* Typografi styling */

#typografi p {
    width: 60%;
}



/* Button Styling */

button {
    padding: 5px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    transition: .2s;
    box-sizing: border-box;
}

.button-solid {
    background: var(--accent);
    color: var(--light);
}

.button-solid:hover {
    opacity: .8;
}

.button-border {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.button-border:hover {
    background: var(--accent);
    color: var(--light);
}