:root {
    --accent: #318ffc;
    --dark: #080808;
    --light: #e8e8e8;
}


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 0px;
}



/* Button Styling */

button {
    padding: 5px 30px;
    padding: 10px 40px;
    border-radius: 5px;
    border: 0;
    font-weight: bold;
    transition: .2s;
    box-sizing: border-box;
}

.button-solid {
    background: var(--accent);
    color: var(--light);
}

.button-solid:hover {
    opacity: .8;
}

.button-border {
    background: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
}

.button-border:hover {
    background: var(--accent);
    color: var(--light);
}